annotated-types==0.7.0
atlassian-python-api==3.41.18
beautifulsoup4==4.12.3
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
Deprecated==1.2.15
gitpython==3.1.44
PyGithub==2.5.0
idna==3.10
importlib_metadata==7.2.1
jmespath==1.0.1
markdown-it-py==3.0.0
mdurl==0.1.2
oauthlib==3.2.2
pydantic==2.10.5
pydantic_core==2.27.2
pydantic_yaml==1.4.0
Pygments==2.19.1
python-dotenv==1.0.1
requests==2.32.3
requests-oauthlib==2.0.0
rich==13.9.4
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
shellingham==1.5.4
six==1.17.0
soupsieve==2.6
typer==0.15.1
typing_extensions==4.12.2
urllib3==2.3.0
wrapt==1.17.1
zipp==3.21.0
